<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="">Name</label>
        <input value="{{items[0]}}" type="text" name="name" placeholder="Item Name" required>
        <label for="">Description</label>
        <input value="{{items[1]}}"  name="desc" placeholder=" enter the Description" type="text" required>
        <label for="">Quantity</label>
        <input value="{{items[2]}}"  type="text" name="qty" placeholder="Quantity" required>
        <label for="">Category</label>
        <select value="{{items[3]}}"    name="category" id=""   required>
            <option value="electronics">Electronics</option>
            <option value="grocery">Grocery</option>
            <option value="fashion">Fashion</option>
            <option value="home">Home</option>
        </select>
        <label for="">Price</label>
        <input  value="{{items[4]}}" type="text" name="price" placeholder="Price" required>
        <input type="file" name="image" required>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>